@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
}

.body-wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #756157;
  box-sizing: border-box;
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
}

.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item {
  align-self: center;
  padding: 20px 16px;
}

.navigation .button {
  display: block;
  padding: 8px 34px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation-user {
  margin-left: auto;
}

.current {
  padding-bottom: 20px;
  border-bottom: 2px solid #756257;
}

.search {
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 18px auto;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.favourites {
  background-image: url("../images/favourites-icon.svg");
  background-repeat: no-repeat;
  background-size: 20px auto;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.favourites-number {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  vertical-align: middle;
  color:#ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
  display: table-cell;
  width: 20px;
  height: 20px;
  position: absolute;
}

.hero {
  min-height: 485px;
  background-image: url("../images/welcome-background.jpg");
  background-size: cover;
  background-color: #deebf4;
  background-repeat: no-repeat;
}

.hero-image {
  display: block;
  padding-left: 371px;
  padding-right: 371px;
  padding-top: 51px;
  padding-bottom: 82px;
}

.advantages {
  text-align: center;
  padding-top: 69px;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 290px;
  padding-right: 290px;
  color: #000000;
  width: 620px;
}

.why-sedona-reasons {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 90px;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 62px;
  width: 175px;
  color: #000000;
}

.advantage-text {
  margin: 0;
  width: 230px;
}

.real-city, .devil-bridge {
  background-color: #82B3D3;
  color: #ffffff;
  width: 400px;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 85px 85px;
}

.white-title {
  color: #ffffff;
}

.real-city-inner, .devil-bridge-inner {
  width: 230px;
}

.sedona-saloon {
  display: block;
}

.real-city-advantage, .bridge-advantage {
  display: flex;
  flex-wrap: wrap;
}

.advantages-inner {
  width: 230px;
}

.advantages-item {
  width: 400px;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 85px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.beautiful-road-advantage {
  width: 400px;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 85px 85px;
  background-color: rgba(131, 179, 211, 0.2);
}

.bridge-advantage {
  flex-direction: row-reverse;
}

.sedona-canyon {
  display: block;
}

.visit-sedona {
  text-align: center;
}

.visit-sedona-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.visit-sedona-text {
  font-size: 22px;
  line-height: 26px;
}

.recomendations-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.recomendations-item {
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.recomendation-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 102px;
  text-align: center;
  color: #000000;
}

.recomendation-text {
  margin: 0;
  text-align: center;
}

.recomendation-wrap {
  width: 230px;
  min-height: 223px;
  background-size: 75px auto;
  background-repeat: no-repeat;
  background-position: 50% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 81px 85px;
}

.house {
  background-image: url("../images/house.svg");
}

.food {
  background-image: url("../images/food.svg");
}

.food-item {
  background-color: inherit;
}

.gifts {
  background-image: url("../images/gift.svg");
}

.hotel-search {
  text-align: center;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 96px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hotel-search-text {
  font-size: 22px;
  line-height: 26px;
  width: 592px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.hotel-search-button {
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  padding: 8px 50px;
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-search {
  margin-bottom: 96px;
}

.subscribe {
  min-height: 415px;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-color: #00B3D3;
  color: #ffffff;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form-email {
  margin: 0;
}

.subscribe-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
  padding: 14px 20px;
    border: none;
  box-sizing: border-box;
  color: #000000;
}

.subscribe-button {
    background-color: #82B3D3;
    color: #ffffff;
    border-radius: 0 4px 4px 0;
    padding: 8px 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    font-family: inherit;
    border: none;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
  padding: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-link-vkontakte {
  background-image: url("../images/vkontakte-logo.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 14px;
  padding: 13px 12px;
  background-position: 50% 50%;
  display: inline-block;
}

.social-link-telegram {
  background-image: url("../images/telegram-logo.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 15px;
  padding: 12px 15px 13px;
  background-position: 50% 50%;
  display: inline-block;
}

.social-link-youtube {
  background-image: url("../images/youtube-logo.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 17px;
  padding: 12px 13px;
  background-position: 50% 50%;
  display: inline-block;
}

.phone-number-link {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.catalog-filter {
  background-image: url(../images/filter-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F2F2F2;
  color:#ffffff;
  min-height: 307px;
  padding: 70px;
  padding-top: 35px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-bottom: 8px;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
}

.home-link {
  background-image: url("../images/home-icon.svg");
  background-repeat: no-repeat;
  background-size: 13px auto;
  width: 12px;
  height: 12px;
  padding-bottom: 2px;
  align-self: center;
  margin-right: 28px;
}

.hotel-filter-group {
  border: none;
  margin: 0;
  padding:0;
}

.infrastructure-filter-group {
  margin-right: 70px;
}

.type-filter-group {
  margin-right: 140px;;
}

.infrastructure-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 32px;
}

.infrastructure-filter-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.control{
  line-height: 23px;
}

.hotel-filter-form {
  display: flex;
}

.price-range-control-from, .price-range-control-till {
  line-height: 24px;
  color: #000000;
  text-align: right;
}

.price-input-from, .price-input-till {
  font-weight: 700;
  font-size: inherit;
  line-height: 24px;
  color:#000000;
  border: none;
  width: 143px;
  padding: 12px 20px;
}

.price-input-from {
  border-radius: 4px 0 0 4px;
}

.price-input-till {
  border-radius: 0 4px 4px 0;
}

.filter-buttons-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-end;
}

.hotel-filter-button {
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
  color:#ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.hotel-filter-submit {
  background-color: #82B3D3;

}

.hotel-filter-reset {
  background-color: transparent;
}

.filter-result-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 200px;
}

.hotel-cards-sorting {
  display: flex;
  flex-wrap: wrap;
  margin: 0 70px;
  align-items: center;
}

.card-view-list {
  margin-left: auto;
}

.after-filter-sorting {
  border: none;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 292px;
  padding: 14px 20px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: #ffffff;
}

.after-filter-sorting:hover {
  outline: 2px solid #68A2CA;
}

.after-filter-sorting:focus {
  outline: 2px solid #68A2CA;
}

.after-filter-sorting:disabled {
  color: rgba(0, 0, 0, 0.3);
  outline: 2px solid rgba(0, 0, 0, 0.3);
}

.card-view-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: auto;
}

.card-view-tiled {
  background-image: url("../images/tiled-icon.svg");
  background-repeat: no-repeat;
  background-size: 16px auto;
  background-position: 50% 50%;
  width: 16px;
  height: 14px;
  padding: 17px 16px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  display: inline-block;
}

.active {
  border: 2px solid #000000;
}

.card-view-full-page {
  background-image: url("../images/full-page-icon.svg");
  background-repeat: no-repeat;
  background-size: 16px auto;
  background-position: 50% 50%;
  width: 16px;
  height: 14px;
  padding: 17px 16px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  display: inline-block;
}

.card-view-listed {
  background-image: url("../images/listed-icon.svg");
  background-repeat: no-repeat;
  background-size: 16px auto;
  background-position: 50% 50%;
  width: 16px;
  height: 14px;
  padding: 17px 16px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  display: inline-block;
}

.hotel-cards {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 70px 40px 70px;
  gap: 20px;
}

.hotel-card {
  box-sizing: border-box;
  width: 340px;
  min-height: 438px;
  padding: 20px;
  border: 1px solid #E6E6E6;
}

.hotel-card a {
  text-decoration: none;
}

.hotel-image {
  display: block;
  margin-bottom: 16px;
}

.hotel-name {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-type-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.more-favourites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.details-link {
  padding: 8px 26px;
}

.to-favourites-link {
  padding: 8px 20px;
  background-color: #82B3D3;
}

.in-favourites-link {
  padding: 8px 18px;
  background-color: #7DB54F;
}

.stars-rate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stars-four {
  background-image: url("../images/catalog/star.svg"), url("../images/catalog/star.svg"), url("../images/catalog/star.svg"), url("../images/catalog/star.svg");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left 50%, 24px 50%, 48px 50%, 72px 50%;
  padding-right: 25px;
  width: 140px;
  height: 37px;
  display: inline-block;
}

.stars-three {
  background-image: url("../images/catalog/star.svg"), url("../images/catalog/star.svg"), url("../images/catalog/star.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 50%, 24px 50%, 48px 50%;
}

.stars-two {
  background-image: url("../images/catalog/star.svg"), url("../images/catalog/star.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 50%, 24px 50%;
}

.hotel-rate {
  font-size: 16px;
  line-height: 20px;
  background-color:#F2F2F2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  text-transform: uppercase;
}

.pagination {
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 60px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  background-color: #82B3D3;
  display: flex;
  justify-content: space-around;
  }

.pagination-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-self: center;
}

.current-page-item {
  background-color: #F2F2F2;
}

.current-page-link {
  color: #000000;
}

.pagination-ellipses-item {
  background-color: transparent;
}

.pagination-ellipses {
  color: #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  align-self: center;
}

.subscribe-catalog {
  min-height: 415px;
  text-align: center;
}

.subscribe-catalog-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-catalog-text {
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  margin-left: auto;
  margin-right: auto;
}
